@import '../../App.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  color: var(--color-p-black);
  z-index: 999;
  svg {
    width: 22px;
    height: 22px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: var(--color-primary);
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 10px;
    background: var(--color-bg-soft);

    input {
      border: none;
      width: 700px;
      background-color: transparent;
      color: var(--color-primary);
      @include mobile{
        display: none;
      }

      @include tablet{
        width: 200px;
      }
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
