// @mixin themify($themes) {
//   @each $theme, $map in $themes {
//     .theme-#{$theme} & {
//       $theme-map: () !global;
//       @each $key, $submap in $map {
//         $value: map-get(map-get($themes, $theme), '#{$key}');
//         $theme-map: map-merge(
//           $theme-map,
//           (
//             $key: $value
//           )
//         ) !global;
//       }
//       @content;
//       $theme-map: null !global;
//     }
//   }
// }

// @function themed($key) {
//   @return map-get($theme-map, $key);
// }

// @mixin mobile {
//   @media (max-width: 480px) {
//     @content;
//   }
// }
// @mixin tablet {
//   @media (max-width: 960px) {
//     @content;
//   }
// }
// $themes: (
//   light: (
//     textColor: #000,
//     bg: white,
//     logo: darkblue,
//     bgSoft: #f6f3f3,
//     textColorSoft: #555,
//     border: lightgray
//   ),
//   dark: (
//     textColor: whitesmoke,
//     bg: #222,
//     logo: white,
//     bgSoft: #333,
//     textColorSoft: lightgray,
//     border: #444
//   )
// );
@mixin at($_min-width) {
  @media screen and (min-width: $_min-width) {
    @content;
  }
}

@mixin to($_max-width) {
  @media screen and (max-width: $_max-width) {
    @content;
  }
}

@mixin color-bg-linear-gradient-primary {
  background: $color-linear-gradient-primary;
}

@mixin color-text-linear-gradient-primary {
  @include color-bg-linear-gradient-primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin color-bg-linear-gradient-secondary {
  background: $color-linear-gradient-secondary;
}

@mixin color-text-linear-gradient-secondary {
  @include color-bg-linear-gradient-secondary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

// Mixin breakpoints
$breakpoints: (
  'xlargedesktop': (
    max-width: 1919.98px
  ),
  'largedesktop': (
    max-width: 1535.98px
  ),
  'mediumdesktop': (
    max-width: 1439.98px
  ),
  'laptop': (
    max-width: 1366.98px
  ),
  'small-laptop': (
    max-width: 1359.98px
  ),
  'container': (
    min-width: 1279px
  ),
  'desktop': (
    max-width: 1199.98px
  ),
  'smalldesktop': (
    max-width: 1032.98px
  ),
  'tablet': (
    max-width: 991.98px
  ),
  'phone': (
    max-width: 767.98px
  ),
  'smallphone': (
    max-width: 575.98px
  ),
  'mediumphone': (
    max-width: 413.98px
  ),
  'xsmallphone': (
    max-width: 374.98px
  )
);

@mixin breakpoint-down($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

$breakpoints-up: (
  'xlargedesktop': (
    min-width: 1920px
  ),
  'largedesktop': (
    min-width: 1536px
  ),
  'mediumdesktop': (
    min-width: 1440px
  ),
  'laptop': (
    min-width: 1366px
  ),
  'small-laptop': (
    min-width: 1359px
  ),
  'container': (
    min-width: 1279px
  ),
  'desktop': (
    min-width: 1200px
  ),
  'smalldesktop': (
    min-width: 1033px
  ),
  'tablet': (
    min-width: 992px
  ),
  'phone': (
    min-width: 768px
  ),
  'smallphone': (
    min-width: 576px
  ),
  'xsmallphone': (
    min-width: 375px
  )
);

@mixin breakpoint-up($breakpoint) {
  $raw-query: map-get($breakpoints-up, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
